@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

[x-cloak] {
    display: none;
}

.btn {
    min-height: unset;
    height: unset;
    @apply py-[0.6rem];
    @apply px-4;
    @apply rounded-[0.375rem];
    @apply text-xs;
    @apply tracking-widest;
}

.btn-success {
    @apply border-accent/10;
    @apply hover:bg-success/50;
    @apply hover:border-accent/30;
}

.btn-error {
    @apply border-accent/10;
    @apply hover:bg-error/50;
    @apply hover:border-accent/20;
}

.btn-error-secondary {
    @apply bg-error/50;
    @apply border-accent/10;
    @apply hover:bg-error/20;
    @apply hover:border-accent/10;
}

.btn-accent {
    @apply border-accent/10;
    @apply hover:bg-accent/50;
    @apply hover:border-accent/20;
}

.btn-off {
    @apply bg-secondary;
    @apply border-accent/10;
    @apply hover:bg-accent/10;
    @apply hover:border-accent/30;
}

.fade-leave-active {
    transition: opacity 0.1s ease-in;
}
.fade-enter-active {
    transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
    opacity: 1;
}
.fade-leave,
.fade-enter-to {
    opacity: 1;
}

::view-transition-group(root) {
    animation-duration: 0.5s;
}
::view-transition-new(root),
::view-transition-old(root) {
    mix-blend-mode: normal;
}

::view-transition-new(root) {
    animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
    animation: none;
}
.dark::view-transition-new(root) {
    animation-name: reveal-dark;
}

@keyframes reveal-dark {
    from {
        clip-path: polygon(-30% 0, -30% 0, -15% 100%, -10% 115%);
    }
    to {
        clip-path: polygon(-30% 0, 130% 0, 115% 100%, -10% 115%);
    }
}

@keyframes reveal-light {
    from {
        clip-path: polygon(130% 0, 130% 0, 115% 100%, 110% 115%);
    }
    to {
        clip-path: polygon(130% 0, -30% 0, -15% 100%, 110% 115%);
    }
}
